body {
  font-family: Arial, sans-serif;
}

#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.page {
  display: none;
}

#login-page {
  display: block;
}

form {
  margin-bottom: 10px;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
}

/* Forum styles */
#forum-list {
  display: flex;
  flex-wrap: wrap;
}

.forum-item {
  flex: 0 0 49%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}


/* Post styles */
#post-list {
  margin-top: 20px;
}



.forum-item {
  display: inline-block;
  width: calc(50% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.post-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}
